Repository jagratac/genVT_wlcBench, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, build, ci

first commit for static configuration
  GenVT.yml
  Gen_VT.sh
  README.md
  consolecallback.py
  destroy.sh
  generalize_vt_paraller_excution.py
  genvt_scp.py
  genvt_ssh.py
  init.sh
  ipaddress.txt
  libvirt_console.py
  libvirt_important_code.py
  libvirt_ipaddress.py
  libvirt_ipaddress_test.py
  libvirt_loop.py
  synbench/Gen_VT.sh
  synbench/copy.sh
  synbench/destroy.sh
  synbench/hello.py
  synbench/sample.yaml
  synbench/test
  synbench/ubuntu-vm.sh
  tags
  test.txt
  test/Gen_VT.sh
  test/sos_params.yaml
  test/test.txt
  test/update.sh
  test/yaml_read.py
  test2.txt
  test_ssh.py
  vm_0.xml
  vm_standered.xml
  xml_parsing_main.py
  yml_parser.py
Labels: docs

start_cmd implimantation
  GenVT.yml
  genvt_scp.py
  genvt_ssh.py
  guest.yml
  ipaddress.yml
  libvirt_console.py
  libvirt_loop.py
  ssh_run_wl.py
  synbench.sh
  synbench/synbench_guest.sh
Labels: none

start cmd implimantation
  GenVT.yml
  demo_ssh.py
  genvt_ssh.py
  genvt_ssh_2.py
  guest.yml
  ipaddress.yml
  libvirt_console.py
  libvirt_loop.py
  synbench.sh
  tags
Labels: none

important files of GenVT
  Makefile
  consolecallback.py
  demo_ssh.py
  generalize_vt_paraller_excution.py
  genvt_ssh_2.py
  ipaddress.txt
  libvirt_important_code.py
  libvirt_ipaddress_test.py
  ssh_run_wl.py
  test.txt
  test/Gen_VT.sh
  test/sos_params.yaml
  test/test.txt
  test/update.sh
  test/yaml_read.py
  test2.txt
  test_ssh.py
Labels: build

latest changes libvirt console
  libvirt_console.py
Labels: none

.github/labeler.yml:

# Intel Copyright Â© 2021, Intel Corporation.

docs:
  - "*.md"
  - "docs/**/*"
build:
  - "Dockerfile"
  - "Makefile"
ci:
  - .github/**/*
